:root{
    --estado-buda: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin-left: 80px;
    margin-left: 80px;
    transition: margin-left 0.3s ease-in-out;
    font-size: 16px;
}

header{
    width: 100%;
    height: 80px;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

.icon__user {
    position: fixed;
    right: 0;
    padding-right: 10px;
}

.icon__menu img{
    font-size: 80px;
    cursor: pointer;
    background-color: ghostwhite;
}



/*MENU DESPLEGABLE*/

.menu__side{
    width: 80px;
    height: 100%;
    background-color: ghostwhite;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 200;
    border: 10px solid ghostwhite;
    transition: all 0.3s ease-in-out;
}

.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;

}

.name__page img{
    width: 20px;
    margin-right: 10px;

}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px
}

.options__menu a{
    cursor: default;
    display: block;
    position: relative;
    transition: color 0.3s;
}

.options__menu a:hover{
    background-color: rgb(52, 97, 243);
    border-radius: 5px;
    color:white
}

.divider{
    height: 200px;
}

nav ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.options__menu .option img{
    width: 20px;
    margin-right: 20px;

}

.body_move{
    margin-left: 300px;

}

.menu__side_move{
    width: 300px;
}



/*Menu usuario*/

.menu__user{
    width: 150px;
    height: 0px;
    visibility: hidden;
    background-color: ghostwhite;
    position: fixed;
    top: 90px;
    right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 200;
    transition: all 0.3s ease-in-out;

}

.options__menu_user .option_user{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
}

.options__menu_user a{
    cursor: default;
    display: block;
    transition: color 0.3s;
}

.options__menu_user a:hover{
    background-color: rgb(52, 97, 243);
    border-radius: 5px;
    color:white;

}

.menu__user_move{
    height: 150px;
    visibility: visible;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }
    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}


/*MENU PRINCIPAL*/
main{
    position: absolute;
    top: 100px;
}
.clothes{
    width: 95.5%;
    height: 100%;
    padding-left: 50px;
}
.clothes__items{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr   ;
    gap: 20px;

}
main ul li{
    list-style: none;
}
main ul .clothes__items__products{
    display: grid;
    width: 400px;
    grid-template-rows: 400px 50px 40px;
    margin: 0;
    padding: 15px;
    justify-content: center;
    box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, 0.089);
    border-radius: 8px;
}
main ul .clothes__items__products div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main ul .clothes__items__products div .clothes__items__products--img {
   overflow: hidden;
   
}
main ul .clothes__items__products div a img{
    max-width: 350px;
    max-height: 400px;
    transition: all var(--estado-buda);
}
main ul .clothes__items__products div img:hover {
    transform: scale(1.05);
    border: double  2px rgba(0, 0, 255, 0.5);
    border-radius: 5px;
 }
main ul .clothes__items__products .clothes__items__products--price{
    display: flex;
    gap: 200px
}
main ul .clothes__items__products .clothes__items__products--price button{
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    transition: all var(--estado-buda);
}
main ul .clothes__items__products .clothes__items__products--price button:hover{
    background-color: rgba(2, 155, 27, 0.781);
    transform: scale(1.1);
    cursor: pointer;
}
main ul .clothes__items__products .clothes__items__products--price h2{
    color: red;
    transition: all var(--estado-buda);
}
main ul .clothes__items__products .clothes__items__products--price h2:hover{
    color: rgba(2, 155, 27, 0.781);
}

@media screen  and (max-width: 1200px){

    .clothes__items{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr  ;
        gap: 20px;
        justify-content: center;
    
    }
    @media screen and (max-width: 1000px){
        .clothes__items{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr;
            gap: 20px;
            justify-content: center;
        
        }
    }

    
}

/*PRODUCTOS*/
.containerproducts{

    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid  rgba(52, 97, 243, 0.193);;
    width: 80%; 
    background-color: white;
    margin: 0 auto; 
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.089);
    border-radius: 6px;
    padding: 10px;
}
.containerimages{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 100px 100px 100px;
    align-items: center;
    max-width: 500px;
    gap: 20px;
    

}
.h2{
    color: red;
    transition: all 0.3s ease-in-out;
}
.h2:hover{
    color: rgba(2, 155, 27, 0.781);
}
.productop1, .productop2, .productop3, .productop4{
    width: 100px;
    height: 100px;
    border: 3px solid  rgba(52, 97, 243, 0.286);
    border-radius: 5px;
    transition: all var(--estado-buda);
}
.p1,.p2,.p3, .p4{
    width: 100%; 
}
.pg1,.pg2,.pg3, .pg4{
    width: 100%;   
}
.productog1{
    visibility: visible;
    width: 280px;
    height: auto;
    max-height: 380px;
    margin: 3%;
    grid-column: 2/2;
    grid-row: 1/span 4;
    max-width: 90%;
    overflow: hidden;
    
}
.productog2, .productog3, .productog4, .productov2, .productov3, .productov4{
    max-width: 90%;
    visibility: hidden;
    margin: 3%;
    width: 1200px;
    max-height: 400px;

    height: auto;
    grid-column: 2/2;
    grid-row: 1/span 4;
    overflow: hidden;
    transition: all 0.2s;
}
.containerproducts__info{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.productov2, .productov3, .productov4{
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 600px;
    background-color: white;
}
.txtproduct{
    text-align: justify;
    font-size: 20px;
    padding-right: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgba(2, 155, 27, 0.781);
    color: white;
}
.productop2:hover~.productog2, .productop2:hover~.productov2{
    visibility: visible;

}
.productop3:hover~.productog3, .productop3:hover~.productov3{
    visibility: visible;

}
.productop4:hover~.productog4, .productop4:hover~.productov4{
    visibility: visible;

}
.productop1:hover ,.productop2:hover ,.productop3:hover, .productop4:hover{
    border: 2px solid #7DF0E3;
    border-radius: 5px;
    transform: scale(1.1);
}
@media screen and (max-width: 1250px) {
    .containerproducts{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr;
        width: 80%; 
        background-color: white;
        margin: 0 auto; 
        padding: 10px;
        overflow: hidden;
    }
    .containerimages{
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 300px 100px;
        align-items: center;
        max-width: 500px;
        gap: 20px
    
    }
    .productop1, .productop2, .productop3, .productop4{
        width: 50px;
        height: 50px;
    }
    .productov2, .productov3, .productov4{
        max-height: 600px;
        background-color: white;
    }
    .productog1{
        visibility: visible;
        width: 200px;
        height: auto;
        max-height: 250px;
        margin: 3%;
        grid-column: 1/ span 4;
        grid-row: 1/1;
        max-width: 90%;
        overflow: hidden;
    }
    .productog2, .productog3, .productog4, .productov2, .productov3, .productov4{
        max-width: 90%;
        visibility: hidden;
        margin: 3%;
        width: 250px;
        max-height: 250px;
    
        height: auto;
        grid-column: 1/ span 4;
        grid-row: 1/1;
        overflow: hidden;
    }
    
}

